{"openapi":"3.0.0","servers":[{"url":"https://api.publisher.tonic.com/v4"}],"info":{"title":"TONIC. for Publishers API","description":"This is the documentation for the \"TONIC. for Publishers API\". Currently this API is in beta and is subject to change. If you have any questions or feedback, please contact us via the UIs Feedback form or your Account Manager.","version":"4.0.0","contact":{"email":"support@tonic.com"}},"tags":[{"name":"Authorization"},{"name":"Countries"},{"name":"Epc"},{"name":"Finalization"},{"name":"Keywords"},{"name":"Offers"},{"name":"Account"},{"name":"ApiCredentials"},{"name":"SubUsers"},{"name":"SubUserRoles"},{"name":"Compliance"}],"paths":{"/jwt/authenticate":{"post":{"operationId":"JwtAuthenticatePost","summary":"Get a JWT via API credentials","description":"Returns a JWT Token and its exipre timestamp aswell as the corresponding refresh token","tags":["Authorization"],"requestBody":{"content":{"application/json":{"schema":{"title":"JwtAuthenticatePostRequest","properties":{"consumerKey":{"type":"string","description":"Your API Username","example":"4764733example96548"},"consumerSecret":{"type":"string","description":"Your API Password","example":"36kjh34515321example16jush92309iksz62495"}},"required":["consumerKey","consumerSecret"]}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Response"},"example":{"data":{"accessToken":{"token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJkbG4iOiJZOVhCZDE3bGtrNnlHaU9OYWRpY1Z1U1QwTXdQeTE1OWlUMUVyc05yWEs0bWFBeUE5bmFTSFFJMFFGeVVHdkxTcjNySDdRMVJqd3Y2RkVCWVhtUjZlVkV0ZUNNNHV6NzdIYmk2Sl9MS0dqZURzMVkzcVFrTGYxZzA4SlVOMG5zUnZaV1lnX2dEWXJfbmR1WTVkV0ZieWVwOWo2Z1d4QkppeXAzWnQ4OTlWOTA0ajdHNGhOZUx4MTEwZzAyZmd1cVdaM0tQM3Vob1FETjRLYUlPZFdOQzRPZmdFMGY1eXZ0aGg2YzRTUjdkUFhRIiwiZXhwIjoxNjY3OTE4NDA1fQ.jE8GCHLV9PTwzArrIwCNhiOGD5tJv58y-UG8YR2L1C0","expires":1667918405},"refreshToken":{"token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJkbG4iOiJZOVhCZDE3bGtrNnlHaU9OYWRpY1Z1U1QwTXdQeTE1OWlUMUVyc05yWEs0bWFBeUE5bmFTSFFJMFFGeVVHdkxTcjNySDdRMVJqd3Y2RkVCWVhtUjZlVkV0ZUNNNHV6NzdIYmk2Sl9MS0dqZURzMVkzcVFrTGYxZzA4SlVOMG5zUnZaV1lnX2dEWXJfbmR1WTVkV0ZieWVwOWo2Z1d4QkppeXAzWnQ4OTlWOTA0ajdHNGhOZUx4MTEwZzAyZmd1cVdaM0tQM3Vob1FETjRLYUlPZFdOQzRPZmdFMGY1eXZ0aGg2YzRTUjdkUFhRIiwiZXhwIjoxNjY3OTE4NDA1fQ.jE8GCHLV9PTwzArrIwCNhiOGD5tJv58y-UG8YR2L1C0","expires":1667918405}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"429":{"$ref":"#/components/responses/429"}}}},"/jwt/refresh":{"post":{"operationId":"JwtRefreshPost","summary":"JSON Web Token  Refresh","description":"Get a new JSON Web Token by providing a refresh token","tags":["Authorization"],"requestBody":{"content":{"application/json":{"schema":{"title":"JwtRefreshPostRequest","properties":{"refreshToken":{"type":"string","description":"The token to refresh the token","example":"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJkbG4iOiJZOVhCZDE3bGtrNnlHaU9OYWRpY1Z1U1QwTXdQeTE1OWlUMUVyc05yWEs0bWFBeUE5bmFTSFFJMFFGeVVHdkxTcjNySDdRMVJqd3Y2RkVCWVhtUjZlVkV0ZUNNNHV6NzdIYmk2Sl9MS0dqZURzMVkzcVFrTGYxZzA4SlVOMG5zUnZaV1lnX2dEWXJfbmR1WTVkV0ZieWVwOWo2Z1d4QkppeXAzWnQ4OTlWOTA0ajdHNGhOZUx4MTEwZzAyZmd1cVdaM0tQM3Vob1FETjRLYUlPZFdOQzRPZmdFMGY1eXZ0aGg2YzRTUjdkUFhRIiwiZXhwIjoxNjY3OTE4NDA1fQ.jE8GCHLV9PTwzArrIwCNhiOGD5tJv58y-UG8YR2L1C0"}},"required":["refreshToken"]}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Response"},"example":{"data":{"accessToken":{"token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJkbG4iOiJZOVhCZDE3bGtrNnlHaU9OYWRpY1Z1U1QwTXdQeTE1OWlUMUVyc05yWEs0bWFBeUE5bmFTSFFJMFFGeVVHdkxTcjNySDdRMVJqd3Y2RkVCWVhtUjZlVkV0ZUNNNHV6NzdIYmk2Sl9MS0dqZURzMVkzcVFrTGYxZzA4SlVOMG5zUnZaV1lnX2dEWXJfbmR1WTVkV0ZieWVwOWo2Z1d4QkppeXAzWnQ4OTlWOTA0ajdHNGhOZUx4MTEwZzAyZmd1cVdaM0tQM3Vob1FETjRLYUlPZFdOQzRPZmdFMGY1eXZ0aGg2YzRTUjdkUFhRIiwiZXhwIjoxNjY3OTE4NDA1fQ.jE8GCHLV9PTwzArrIwCNhiOGD5tJv58y-UG8YR2L1C0","expires":1667918405}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"}}}},"/countries":{"get":{"operationId":"CountriesGet","summary":"Get available Countries","description":"Get a list of available countries.","tags":["Countries"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Response"},"example":{"data":[{"code":"US","name":"United States"}]}}}}}}},"/epc/lastFinalDate":{"get":{"operationId":"EpcLastFinalDateGet","summary":"Last final EPC Date","description":"Get information about the last finalization.","tags":["Epc"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Response"},"example":{"data":{"date":"2023-08-01","finalizedOn":"2023-08-01T12:10:01-07:00"}}}}}}}},"/epc/estimationUpdateUntil":{"get":{"operationId":"EpcEstimationUpdateUntilGet","summary":"5h Estimation Update","description":"Get the exact date and time until which the estimation update is currently applied to the revenue of clicks.","tags":["Epc"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Response"},"example":{"data":{"date":"2023-08-03T12:10:01-07:00"}}}}}}}},"/final/month":{"get":{"operationId":"FinalMonthGet","summary":"Check whether a month is finalized","description":"For a given month this endpoint checks whether the month's payment process is finalized","tags":["Finalization"],"parameters":[{"in":"query","name":"month","description":"Month in the format yyyy-mm.","required":true,"schema":{"type":"string"},"example":"2023-01"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Response"},"example":{"data":{"isFinalized":true}}}}},"400":{"$ref":"#/components/responses/400"}}}},"/keywords/performance":{"get":{"operationId":"KeywordsPerformanceGet","summary":"Get keyword performance overview.","description":"Get keyword performance overview for selected time range.<br/>Maximum allowed daterange of 30 days.","tags":["Keywords"],"parameters":[{"in":"query","name":"from","description":"Date range from.","required":true,"schema":{"type":"string","format":"date"},"example":"2023-01-01"},{"in":"query","name":"to","description":"Date range to.","required":true,"schema":{"type":"string","format":"date"},"example":"2023-01-03"},{"in":"query","name":"orderField","description":"Order the result by specific field.<br /><i>Available Values</i> : keyword, clicks, rpc, revenue, revenueUsd","required":false,"schema":{"type":"string"},"example":"keyword"},{"in":"query","name":"orderOrientation","description":"The result order direction:<br/>asc - Ascending; from A to Z <br/>desc - Descending; from Z to A","required":false,"schema":{"type":"string","enum":["asc","desc"],"example":"asc"}},{"in":"query","name":"keyword","description":"Filter for a specific keyword.","required":false,"schema":{"type":"string"}},{"in":"query","name":"keywordPart","description":"Filter for part of a keyword.","required":false,"schema":{"type":"string"}},{"in":"query","name":"campaignIds","description":"Filter for a specific campaign with its id<br />Pass multiple values separated by commas.","required":false,"schema":{"type":"integer","format":"int32"},"example":"1"},{"in":"query","name":"campaignName","description":"Filter for a specific campaign with its name or a part of the name. At least 3 characters required","required":false,"schema":{"type":"string"},"example":"Campaign XYZ"},{"in":"query","name":"countryCodes","description":"Filter for a specific country<br />Pass multiple values separated by commas.","required":false,"schema":{"type":"string","minLength":2,"maxLength":2},"example":"US"},{"in":"query","name":"offerIds","description":"Filter for a specific offer with its id<br />Pass multiple values separated by commas.","required":false,"schema":{"type":"integer","format":"int32"},"example":"1"},{"in":"query","name":"grouping","description":"How to group the data. Default is keyword, which is always applied.<br />Pass multiple values separated by commas.<br /><i>Available Values</i> : keyword, campaignId, countryCode, offerId","required":false,"schema":{"type":"string"},"example":"keyword"},{"in":"query","name":"offset","description":"The offset of returned paginated data","required":false,"schema":{"type":"integer","format":"int32"},"example":"15"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Response"},"example":{"data":[{"keyword":"Keyword XYZ","campaigns":[{"id":4321,"name":"My awesome campaign 1","status":"active","country":{"code":"US","name":"United States"},"imprint":"yes","offer":{"id":42,"name":"Offer XYZ","vertical":{"id":76,"name":"Vertical XYZ"}},"uniques":12,"clicks":15,"revenue":23.5,"rpc":1.56,"ctr":0.42,"rpm":0.33,"trackingLink":"https://15u102.xdzxrxbcwtv.com","created":"2022-08-28T12:29:44-07:00"}],"countries":[{"code":"US","name":"United States"}],"offers":[{"id":42,"name":"Offer XYZ","vertical":{"id":76,"name":"Vertical XYZ"}}],"clicks":15,"revenue":23.5,"rpc":1.56}]}}}},"400":{"$ref":"#/components/responses/400"}}}},"/offers":{"get":{"operationId":"OffersGet","summary":"Get all Offers","description":"Get list of offers.","tags":["Offers"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Response"},"example":{"data":[{"id":42,"name":"Offer XYZ","vertical":{"id":76,"name":"Vertical XYZ"}}]}}}}}}},"/account/baseData":{"get":{"operationId":"AccountBaseDataGet","summary":"Get current users data","description":"Returns the users mail, first- and lastname. In case of a subuser it will also return its role and the associated rights.","tags":["Account"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Response"},"example":{"data":[{"email":"al.dillon@example.com","firstname":"Al","name":"Dillon","subUserRole":{"id":25,"name":"Campaign creator","generalSettings":false,"payoutSettings":false,"viewRevenue":"own","createCampaigns":true,"viewCampaigns":"own","apiAccess":true,"created":"2022-08-28T12:29:44-07:00","subUsers":[{"id":58,"email":"xyz@example.com","firstname":"Exepsilon","name":"Zet","status":"active","verificationStatus":"verified","created":"2022-08-28T12:29:44-07:00"}]},"isSubUser":false}]}}}},"404":{"$ref":"#/components/responses/404"}}}},"/account/apiCredentials":{"get":{"operationId":"AccountApiCredentialsGet","summary":"Get list of ApiCredentials","description":"Get list of all ApiCredentials. The list also includes expired ApiCredentials.","tags":["ApiCredentials"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Response"},"example":{"data":[{"id":42,"consumerKey":"327d4f6045ef5ee302b0afbabab568example20755a7dfeeb89709b0d5e2af68","consumerKeyStart":"3284","consumerSecret":"2ac273c5dbd109c4a203ea62631284example17160d9f77bd34a775cd82c63bd","consumerSecretStart":"69b8","name":"My API Credential","description":"Used for XYZ","validUntil":"2022-08-28T12:29:44-07:00"}]}}}},"400":{"$ref":"#/components/responses/400"},"403":{"$ref":"#/components/responses/403"}}},"post":{"operationId":"AccountApiCredentialsPost","summary":"Create an ApiCredential","description":"Create a new ApiCredential.","tags":["ApiCredentials"],"requestBody":{"content":{"application/json":{"schema":{"title":"AccountApiCredentialsPostRequest","properties":{"validUntil":{"type":"string","format":"date","description":"Date until the credentialls are valid. Must be within the next 12 months","example":"2024-08-28"},"name":{"type":"string","maxLength":100,"description":"The name of the credential","example":"My API Credential"},"description":{"type":"string","maxLength":500,"description":"Additional information related to the credential","example":"Used for XYZ"}},"required":["validUntil"]}}}},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Response"},"example":{"data":{"id":42,"consumerKey":"327d4f6045ef5ee302b0afbabab568example20755a7dfeeb89709b0d5e2af68","consumerKeyStart":"3284","consumerSecret":"2ac273c5dbd109c4a203ea62631284example17160d9f77bd34a775cd82c63bd","consumerSecretStart":"69b8","name":"My API Credential","description":"Used for XYZ","validUntil":"2022-08-28T12:29:44-07:00"}}}}},"400":{"$ref":"#/components/responses/400"},"403":{"$ref":"#/components/responses/403"}}}},"/account/apiCredentials/{id}":{"get":{"operationId":"AccountApiCredentialsIdGet","summary":"Get an ApiCredential","description":"Get data of an ApiCredential by its id.","tags":["ApiCredentials"],"parameters":[{"in":"path","name":"id","description":"The id of the ApiCredential","required":true,"schema":{"type":"integer","format":"int32"},"example":"1"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Response"},"example":{"data":{"id":42,"consumerKey":"327d4f6045ef5ee302b0afbabab568example20755a7dfeeb89709b0d5e2af68","consumerKeyStart":"3284","consumerSecret":"2ac273c5dbd109c4a203ea62631284example17160d9f77bd34a775cd82c63bd","consumerSecretStart":"69b8","name":"My API Credential","description":"Used for XYZ","validUntil":"2022-08-28T12:29:44-07:00"}}}}},"400":{"$ref":"#/components/responses/400"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"}}},"put":{"operationId":"AccountApiCredentialsIdPut","summary":"Update an ApiCredential","description":"Update an ApiCredential.","tags":["ApiCredentials"],"requestBody":{"content":{"application/json":{"schema":{"title":"AccountApiCredentialsIdPutRequest","properties":{"name":{"type":"string","maxLength":100,"description":"The name of the credential","example":"My API Credential"},"description":{"type":"string","maxLength":500,"description":"Additional information related to the credential","example":"Used for XYZ"}}}}}},"parameters":[{"in":"path","name":"id","description":"The id of the ApiCredential","required":true,"schema":{"type":"integer","format":"int32"},"example":"1"}],"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Response"},"example":{"data":{"id":42,"consumerKey":"327d4f6045ef5ee302b0afbabab568example20755a7dfeeb89709b0d5e2af68","consumerKeyStart":"3284","consumerSecret":"2ac273c5dbd109c4a203ea62631284example17160d9f77bd34a775cd82c63bd","consumerSecretStart":"69b8","name":"My API Credential","description":"Used for XYZ","validUntil":"2022-08-28T12:29:44-07:00"}}}}},"400":{"$ref":"#/components/responses/400"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"}}},"delete":{"operationId":"AccountApiCredentialsIdDelete","summary":"Delete an ApiCredential","description":"Delete an ApiCredential by its id.","tags":["ApiCredentials"],"parameters":[{"in":"path","name":"id","description":"The id of the ApiCredential","required":true,"schema":{"type":"integer","format":"int32"},"example":"1"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Response"},"example":{"data":{"id":42,"consumerKey":"327d4f6045ef5ee302b0afbabab568example20755a7dfeeb89709b0d5e2af68","consumerKeyStart":"3284","consumerSecret":"2ac273c5dbd109c4a203ea62631284example17160d9f77bd34a775cd82c63bd","consumerSecretStart":"69b8","name":"My API Credential","description":"Used for XYZ","validUntil":"2022-08-28T12:29:44-07:00"}}}}},"400":{"$ref":"#/components/responses/400"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"}}}},"/subUsers":{"get":{"operationId":"SubUsersGet","summary":"Get a list of SubUsers","description":"Get all or a status filtered list of SubUsers.","tags":["SubUsers"],"parameters":[{"in":"query","name":"status","description":"Get SubUsers of only one status.<br /><i>Available Values</i> : active, inactive","required":false,"schema":{"type":"string"},"example":"active"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Response"},"example":{"data":[{"id":58,"email":"xyz@example.com","firstname":"Exepsilon","name":"Zet","status":"active","verificationStatus":"verified","created":"2022-08-28T12:29:44-07:00","subUserRole":{"id":25,"name":"Campaign creator","generalSettings":false,"payoutSettings":false,"viewRevenue":"own","createCampaigns":true,"viewCampaigns":"own","apiAccess":true,"created":"2022-08-28T12:29:44-07:00"}}]}}}},"400":{"$ref":"#/components/responses/400"}}},"post":{"operationId":"SubUsersPost","summary":"Create a SubUser","description":"Create a new SubUser.","tags":["SubUsers"],"requestBody":{"content":{"application/json":{"schema":{"title":"SubUsersPostRequest","properties":{"email":{"type":"string","format":"email","minLength":6,"maxLength":60,"description":"The email address of the new user","example":"al.dillon@example.com"},"firstname":{"type":"string","minLength":2,"maxLength":60,"description":"The first name of the new user","example":"Al"},"name":{"type":"string","minLength":2,"maxLength":60,"description":"The last name of the new user","example":"Dillon"},"fullLiability":{"type":"boolean","enum":[true,false],"example":true,"description":"Confrimation, that you are fully liable for all actions of the SubUser account you are creating."}},"required":["email","firstname","name","fullLiability"]}}}},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Response"},"example":{"data":{"id":58,"email":"xyz@example.com","firstname":"Exepsilon","name":"Zet","status":"active","verificationStatus":"verified","created":"2022-08-28T12:29:44-07:00","subUserRole":{"id":25,"name":"Campaign creator","generalSettings":false,"payoutSettings":false,"viewRevenue":"own","createCampaigns":true,"viewCampaigns":"own","apiAccess":true,"created":"2022-08-28T12:29:44-07:00"}}}}}},"400":{"$ref":"#/components/responses/400"},"409":{"$ref":"#/components/responses/409"}}}},"/subUsers/{id}":{"get":{"operationId":"SubUsersIdGet","summary":"Get a SubUser","description":"Get data of a subUser by the subUser's email.","tags":["SubUsers"],"parameters":[{"in":"path","name":"id","description":"The id of the SubUser","required":true,"schema":{"type":"integer","format":"int32"},"example":"1"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Response"},"example":{"data":{"id":58,"email":"xyz@example.com","firstname":"Exepsilon","name":"Zet","status":"active","verificationStatus":"verified","created":"2022-08-28T12:29:44-07:00","subUserRole":{"id":25,"name":"Campaign creator","generalSettings":false,"payoutSettings":false,"viewRevenue":"own","createCampaigns":true,"viewCampaigns":"own","apiAccess":true,"created":"2022-08-28T12:29:44-07:00"}}}}}},"400":{"$ref":"#/components/responses/400"},"404":{"$ref":"#/components/responses/404"}}},"patch":{"operationId":"SubUsersIdPatch","summary":"Update a SubUser","description":"Update a SubUsers attibutes, like firstname, name and status.","tags":["SubUsers"],"requestBody":{"content":{"application/json":{"schema":{"title":"SubUsersIdPatchRequest","properties":{"firstname":{"type":"string","minLength":2,"maxLength":60,"description":"The new first name of the user","example":"Al"},"name":{"type":"string","minLength":2,"maxLength":60,"description":"The new last name of the user","example":"Dillon"},"status":{"type":"string","enum":["active","inactive"],"description":"The new status of a subuser","example":"active"}}}}}},"parameters":[{"in":"path","name":"id","description":"The subuser id","required":true,"schema":{"type":"integer","format":"int32"},"example":"1"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Response"},"example":{"data":{"id":58,"email":"xyz@example.com","firstname":"Exepsilon","name":"Zet","status":"active","verificationStatus":"verified","created":"2022-08-28T12:29:44-07:00","subUserRole":{"id":25,"name":"Campaign creator","generalSettings":false,"payoutSettings":false,"viewRevenue":"own","createCampaigns":true,"viewCampaigns":"own","apiAccess":true,"created":"2022-08-28T12:29:44-07:00"}}}}}},"400":{"$ref":"#/components/responses/400"},"404":{"$ref":"#/components/responses/404"}}},"delete":{"operationId":"SubUsersIdDelete","summary":"Delete a SubUser","description":"Delete an existing SubUser.","tags":["SubUsers"],"parameters":[{"in":"path","name":"id","description":"The id of the SubUser to delete","required":true,"schema":{"type":"integer","format":"int32"},"example":"1"}],"responses":{"204":{"description":"No Content"},"404":{"$ref":"#/components/responses/404"}}}},"/subUsers/{id}/verification":{"post":{"operationId":"SubUsersIdVerificationPost","summary":"Resend verification email","description":"Send a verification email to the sub user if none was sent before or the last one was expired. The email contains a verification token which is valid for 48 hours. Also invalidates all previously sent tokens.","tags":["SubUsers"],"parameters":[{"in":"path","name":"id","description":"Sub user id","required":true,"schema":{"type":"string"},"example":"1"}],"responses":{"204":{"description":"No Content"},"400":{"$ref":"#/components/responses/400"}}}},"/roles":{"get":{"operationId":"RolesGet","summary":"Get all SubUserRoles","description":"Get all Roles that are available.","tags":["SubUserRoles"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Response"},"example":{"data":[{"id":25,"name":"Campaign creator","generalSettings":false,"payoutSettings":false,"viewRevenue":"own","createCampaigns":true,"viewCampaigns":"own","apiAccess":true,"created":"2022-08-28T12:29:44-07:00","subUsers":[{"id":58,"email":"xyz@example.com","firstname":"Exepsilon","name":"Zet","status":"active","verificationStatus":"verified","created":"2022-08-28T12:29:44-07:00"}]}]}}}},"400":{"$ref":"#/components/responses/400"}}},"post":{"operationId":"RolesPost","summary":"Create a SubUserRole","description":"Create a new role for SubUsers.","tags":["SubUserRoles"],"requestBody":{"content":{"application/json":{"schema":{"title":"RolesPostRequest","properties":{"name":{"type":"string","minLength":1,"maxLength":100,"description":"The name of the new role","example":"Role XYZ"},"payoutSettings":{"type":"boolean","enum":[true,false],"example":true,"description":"Whether that role can view and edit payout settings"},"generalSettings":{"type":"boolean","enum":[true,false],"example":true,"description":"Whether that role can view and edit general settings"},"viewRevenue":{"type":"string","enum":["all","none"],"example":"all","description":"Whether that role can view the revenue numbers"},"createCampaigns":{"type":"boolean","enum":[true,false],"example":true,"description":"Whether that role can create new campaigns"},"viewCampaigns":{"type":"string","enum":["all","own","none"],"example":"all","description":"Whether that role can view campaigns and campaign statistics"},"apiAccess":{"type":"boolean","enum":[true,false],"example":true,"description":"Whether that role can use and view the api documentation. true, false"}},"required":["name","payoutSettings","generalSettings","viewRevenue","createCampaigns","viewCampaigns","apiAccess"]}}}},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Response"},"example":{"data":{"id":25,"name":"Campaign creator","generalSettings":false,"payoutSettings":false,"viewRevenue":"own","createCampaigns":true,"viewCampaigns":"own","apiAccess":true,"created":"2022-08-28T12:29:44-07:00","subUsers":[{"id":58,"email":"xyz@example.com","firstname":"Exepsilon","name":"Zet","status":"active","verificationStatus":"verified","created":"2022-08-28T12:29:44-07:00"}]}}}}},"400":{"$ref":"#/components/responses/400"}}}},"/roles/{id}":{"get":{"operationId":"RolesIdGet","summary":"Get a SubUserRole","description":"Get Role and SubUsers that have it assigned.","tags":["SubUserRoles"],"parameters":[{"in":"path","name":"id","description":"The role id","required":true,"schema":{"type":"integer","format":"int32"},"example":"1"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Response"},"example":{"data":{"id":25,"name":"Campaign creator","generalSettings":false,"payoutSettings":false,"viewRevenue":"own","createCampaigns":true,"viewCampaigns":"own","apiAccess":true,"created":"2022-08-28T12:29:44-07:00","subUsers":[{"id":58,"email":"xyz@example.com","firstname":"Exepsilon","name":"Zet","status":"active","verificationStatus":"verified","created":"2022-08-28T12:29:44-07:00"}]}}}}},"400":{"$ref":"#/components/responses/400"},"404":{"$ref":"#/components/responses/404"}}},"delete":{"operationId":"RolesIdDelete","summary":"Delete a SubUserRole","description":"Delete a role for SubUsers.","tags":["SubUserRoles"],"parameters":[{"in":"path","name":"id","description":"The id of the role","required":true,"schema":{"type":"integer","format":"int32"},"example":"1"}],"responses":{"204":{"description":"No Content"},"409":{"$ref":"#/components/responses/409"}}},"put":{"operationId":"RolesIdPut","summary":"Update a SubUserRole","description":"Updates a SubUserRole if changes were detected.","tags":["SubUserRoles"],"requestBody":{"content":{"application/json":{"schema":{"title":"RolesIdPutRequest","properties":{"name":{"type":"string","minLength":1,"maxLength":100,"description":"The name of the new role","example":"Role XYZ"},"payoutSettings":{"type":"boolean","enum":[true,false],"example":true,"description":"Whether that role can view and edit payout settings. true or false"},"generalSettings":{"type":"boolean","enum":[true,false],"example":true,"description":"Whether that role can view and edit account settings. true or false"},"viewRevenue":{"type":"string","enum":["all","none"],"example":"all","description":"Whether that role can view the revenue numbers, 'all', 'none'"},"createCampaigns":{"type":"boolean","enum":[true,false],"example":true,"description":"Whether that role can create new campaigns. true or false"},"viewCampaigns":{"type":"string","enum":["all","own","none"],"example":"all","description":"Whether that role can view campaigns and campaign statistics, 'all', 'own', 'none'"},"apiAccess":{"type":"boolean","enum":[true,false],"example":true,"description":"Whether that role can use and view the api documentation. true, false"}},"required":["name","payoutSettings","generalSettings","viewRevenue","createCampaigns","viewCampaigns","apiAccess"]}}}},"parameters":[{"in":"path","name":"id","description":"The role id","required":true,"schema":{"type":"integer","format":"int32"},"example":"1"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Response"},"example":{"data":{"id":25,"name":"Campaign creator","generalSettings":false,"payoutSettings":false,"viewRevenue":"own","createCampaigns":true,"viewCampaigns":"own","apiAccess":true,"created":"2022-08-28T12:29:44-07:00","subUsers":[{"id":58,"email":"xyz@example.com","firstname":"Exepsilon","name":"Zet","status":"active","verificationStatus":"verified","created":"2022-08-28T12:29:44-07:00"}]}}}}},"400":{"$ref":"#/components/responses/400"},"404":{"$ref":"#/components/responses/404"}}}},"/subUsers/{id}/roles":{"post":{"operationId":"SubUsersIdRolesPost","summary":"Assign a SubUserRole","description":"Assigning a SubUserRole to a SubUser.","tags":["SubUsers"],"requestBody":{"content":{"application/json":{"schema":{"title":"SubUsersIdRolesPostRequest","properties":{"roleId":{"type":"integer","format":"int32","description":"The id of the role","example":"1"}},"required":["roleId"]}}}},"parameters":[{"in":"path","name":"id","description":"id of the SubUser","required":true,"schema":{"type":"integer","format":"int32"},"example":"1"}],"responses":{"204":{"description":"No Content"},"400":{"$ref":"#/components/responses/400"},"404":{"$ref":"#/components/responses/404"},"409":{"$ref":"#/components/responses/409"}}},"delete":{"operationId":"SubUsersIdRolesDelete","summary":"Unassign a SubUserRole","description":"Unassign a SubUserRole for a SubUser.","tags":["SubUsers"],"parameters":[{"in":"path","name":"id","description":"The id of the SubUser","required":true,"schema":{"type":"integer","format":"int32"},"example":"1"}],"responses":{"204":{"description":"No Content"},"404":{"$ref":"#/components/responses/404"}}}},"/compliance/siteIds":{"get":{"operationId":"ComplianceSiteIdsGet","summary":"Get all non compliant siteIds","description":"Returns a list of currently non compliant siteIds.","tags":["Compliance"],"parameters":[{"in":"query","name":"network","description":"The network to get the ids for.<br /><i>Available Values</i> : taboola, outbrain","required":true,"schema":{"type":"string"},"example":"taboola"},{"in":"query","name":"limit","description":"The limit of returned paginated data","required":false,"schema":{"type":"integer","format":"int32"},"example":"25"},{"in":"query","name":"offset","description":"The offset of returned paginated data","required":false,"schema":{"type":"integer","format":"int32"},"example":"15"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Response"},"example":{"data":[{"siteId":"some-site-6","site":"Some Site","network":"taboola","comment":"No longer allowed due to reason"}]}}}},"400":{"$ref":"#/components/responses/400"}}}}},"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}},"schemas":{"ApiError":{"title":"ApiError","type":"object","properties":{"status":{"type":"number","minimum":400,"maximum":599},"detail":{"type":"string"},"requestId":{"type":"string"}}},"ApiModel":{"title":"ApiModel","type":"object"},"Response":{"title":"Response","type":"object","required":["data"],"properties":{"data":{"title":"ResponseData","oneOf":[{"$ref":"#/components/schemas/ApiModel"},{"type":"array","items":{"$ref":"#/components/schemas/ApiModel"}},{"type":"object"},{"type":"array","items":{}}]},"links":{"type":"object","nullable":true},"pagination":{"type":"object","nullable":true}}},"ErrorResponse":{"title":"ErrorResponse","type":"object","required":["errors"],"properties":{"errors":{"title":"ResponseErrors","type":"array","items":{"$ref":"#/components/schemas/ApiError"}}}},"Jwt":{"type":"object","properties":{"token":{"type":"string","example":"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJkbG4iOiJZOVhCZDE3bGtrNnlHaU9OYWRpY1Z1U1QwTXdQeTE1OWlUMUVyc05yWEs0bWFBeUE5bmFTSFFJMFFGeVVHdkxTcjNySDdRMVJqd3Y2RkVCWVhtUjZlVkV0ZUNNNHV6NzdIYmk2Sl9MS0dqZURzMVkzcVFrTGYxZzA4SlVOMG5zUnZaV1lnX2dEWXJfbmR1WTVkV0ZieWVwOWo2Z1d4QkppeXAzWnQ4OTlWOTA0ajdHNGhOZUx4MTEwZzAyZmd1cVdaM0tQM3Vob1FETjRLYUlPZFdOQzRPZmdFMGY1eXZ0aGg2YzRTUjdkUFhRIiwiZXhwIjoxNjY3OTE4NDA1fQ.jE8GCHLV9PTwzArrIwCNhiOGD5tJv58y-UG8YR2L1C0"},"expires":{"type":"integer","format":"int32","example":1667918405}}},"Country":{"type":"object","properties":{"code":{"type":"string","example":"US"},"name":{"type":"string","example":"United States"}}},"PerformanceData":{"type":"object","properties":{"keyword":{"type":"string","example":"Keyword XYZ"},"campaigns":{"type":"array","items":{"$ref":"#/components/schemas/Campaign"}},"countries":{"type":"array","items":{"$ref":"#/components/schemas/Country"}},"offers":{"type":"array","items":{"$ref":"#/components/schemas/Offer"}},"clicks":{"type":"integer","format":"int32","example":15},"revenue":{"type":"number","format":"float","example":23.5},"rpc":{"type":"number","format":"float","example":1.56}}},"Campaign":{"type":"object","properties":{"id":{"type":"integer","format":"int32","example":4321},"name":{"type":"string","example":"My awesome campaign 1"},"status":{"type":"string","enum":["allowedValues","pending","active","stopped","incomplete","deleted"],"example":"active"},"country":{"$ref":"#/components/schemas/Country"},"imprint":{"type":"string","enum":["yes","no"],"example":"yes"},"offer":{"$ref":"#/components/schemas/Offer"},"trackingLink":{"type":"string","format":"url","example":"https://15u102.xdzxrxbcwtv.com"},"created":{"type":"string","format":"date-time","example":"2022-08-28T12:29:44-07:00"}}},"Offer":{"type":"object","properties":{"id":{"type":"integer","format":"int32","example":42},"name":{"type":"string","example":"Offer XYZ"},"vertical":{"$ref":"#/components/schemas/Vertical"}}},"Vertical":{"type":"object","properties":{"id":{"type":"integer","format":"int32","example":76},"name":{"type":"string","example":"Vertical XYZ"}}},"AccountData":{"type":"object","properties":{"email":{"type":"string","example":"al.dillon@example.com"},"firstname":{"type":"string","example":"Al"},"name":{"type":"string","example":"Dillon"},"subUserRole":{"oneOf":[{"type":"null"},{"$ref":"#/components/schemas/SubUserRole"}]},"isSubUser":{"type":"boolean","enum":[true,false],"example":false}}},"SubUserRole":{"type":"object","properties":{"id":{"type":"integer","format":"int32","example":25},"name":{"type":"string","example":"Campaign creator"},"generalSettings":{"type":"boolean","enum":[true,false],"example":false},"payoutSettings":{"type":"boolean","enum":[true,false],"example":false},"viewRevenue":{"type":"string","enum":["all","own","none"],"example":"own"},"createCampaigns":{"type":"boolean","enum":[true,false],"example":true},"viewCampaigns":{"type":"string","enum":["all","own","none"],"example":"own"},"apiAccess":{"type":"boolean","enum":[true,false],"example":true},"created":{"type":"string","format":"date-time","example":"2022-08-28T12:29:44-07:00"}}},"ApiCredential":{"type":"object","properties":{"id":{"type":"integer","format":"int32","example":42},"consumerKeyStart":{"type":"string","example":"3284"},"consumerSecretStart":{"type":"string","example":"69b8"}}},"SubUser":{"type":"object","properties":{"id":{"type":"integer","format":"int32","example":58},"email":{"type":"string","example":"xyz@example.com"},"firstname":{"type":"string","example":"Exepsilon"},"name":{"type":"string","example":"Zet"},"status":{"type":"string","enum":["active","inactive","deleted"],"example":"active"},"verificationStatus":{"type":"string","enum":["pending","verified","expired","mail-error"],"example":"verified"},"created":{"type":"string","format":"date-time","example":"2022-08-28T12:29:44-07:00"}}},"SiteId":{"type":"object","properties":{"siteId":{"type":"string","example":"some-site-6"},"site":{"type":"string","example":"Some Site"},"network":{"type":"string","example":"taboola"},"comment":{"type":"string","example":"No longer allowed due to reason"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Response"}}}},"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Response"}}}},"204":{"description":"No Content"},"400":{"description":"Parameter Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"errors":[{"status":400,"detail":"Parameter Error","requestId":"root=1-6335cbde-6baf0bed7a2eaecc6b1214bf"}]}}}},"401":{"description":"Authentication Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"errors":[{"status":401,"detail":"Authentication Error","requestId":"root=1-6335cbde-6baf0bed7a2eaecc6b1214bf"}]}}}},"403":{"description":"Authentication Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"errors":[{"status":403,"detail":"Authentication Error","requestId":"root=1-6335cbde-6baf0bed7a2eaecc6b1214bf"}]}}}},"404":{"description":"Not Found Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"errors":[{"status":404,"detail":"Not Found Error","requestId":"root=1-6335cbde-6baf0bed7a2eaecc6b1214bf"}]}}}},"409":{"description":"Resource Conflict Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"errors":[{"status":409,"detail":"Resource Conflict Error","requestId":"root=1-6335cbde-6baf0bed7a2eaecc6b1214bf"}]}}}},"429":{"description":"Too Many Requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"errors":[{"status":429,"detail":"Too Many Requests","requestId":"root=1-6335cbde-6baf0bed7a2eaecc6b1214bf"}]}}}}}},"security":[{"bearerAuth":[]}],"externalDocs":{"description":"Find out more","url":"https://tonic.com"}}